<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
   <head>
      <title>Header</title>
   </head>
   <body>
    <div class="content" layout:fragment="content">
	
		<!--  table-responsive -->
         <div class="row">
            <div class="col-md-12">
               <div class="card">
                  <div class="card-body">
                  			<button type="button" class="btn btn-success source"
				id="btnAddCertificate">
				<i class="fa fa-plus"> </i> Add
			</button>
                     <div class="table-responsive">
                        <table id="xtable_certificate" class="display table table-striped  dataTable no-footer jambo_table bulk_action" style="width:100%">
                           <!-- Header Table -->
                           <thead>
                           </thead>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>



	



		<script>
			$("#btnAddCertificate").click(function() {
				popupModalAdd($('#PageContext').val() + 'addUser');
			});
		</script>
		<script th:src="@{/js/seagull/user/user.js}" th:inline="javascript"></script>
	</div>
   </body>
</html>

