<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
   <head>
      <title>Header</title>
   </head>
   <body>
      <div class="right_col" role="main" style="min-height: 657px;"
		layout:fragment="content">



		<div class="row">
			<button type="button" class="btn btn-success source"
				id="btnAddCertificate">
				<i class="fa fa-plus"> </i> Add
			</button>

			<table id="xtable_certificate"
				class="table table-striped table-bordered dataTable no-footer jambo_table bulk_action"
				style="width: 100%">

				<!-- Header Table -->
				<thead>

				</thead>

			</table>
		</div>



		<script>
			$("#btnAddCertificate").click(function() {
				popupModalAdd($('#PageContext').val() + 'addUser');
			});
		</script>
		<script th:src="@{/js/seagull/user/user.js}" th:inline="javascript"></script>
	</div>
   </body>
</html>

