

<!-- Modal edit-->



 <div class="modal-dialog">
    <form  method="POST" class="form-horizontal" id="form">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Add Account </h4>
            </div>
            <div class="modal-body">
            
            	<input onClick="this.select();" type="hidden" id="hinhCertificate" name="id_file_photo"  >
            	
                <div class="form-group">
                
               <div class="form-group">
                    <label class="col-sm-4 control-label requiredStar" for="cc_code">Account </label>
                    <div class="col-sm-8">

                          <input onClick="this.select();"  name="UserName" id="UserName" class="form-control " required="required" autocomplete="off" />

                    </div>
                </div><!--form-group-->
                
                <div class="form-group">
                    <label class="col-sm-4 control-label requiredStar" for="cc_code">Password </label>
                    <div class="col-sm-8">

                          <input onClick="this.select();"  name="Password" id="Password" class="form-control " required="required" autocomplete="off" />

                    </div>
                </div><!--form-group-->
                
                <div class="form-group">
                    <label class="col-sm-4 control-label " for="cc_code">First Name </label>
                    <div class="col-sm-8">

                          <input onClick="this.select();"  name="first_name" id="first_name" class="form-control " required="required" autocomplete="off" />

                    </div>
                </div><!--form-group-->
                
                  <div class="form-group">
                    <label class="col-sm-4 control-label " for="cc_code">Last Name </label>
                    <div class="col-sm-8">

                          <input onClick="this.select();"  name="last_name" id="last_name" class="form-control " required="required" autocomplete="off" />

                    </div>
                </div><!--form-group-->
                
                <div class="form-group">
                    <label class="col-sm-4 control-label " for="cc_code">Phone </label>
                    <div class="col-sm-8">

                          <input onClick="this.select();"  name="phone" id="phone" class="form-control " required="required" autocomplete="off" />

                    </div>
                </div><!--form-group-->
                
                  <div class="form-group">
                    <label class="col-sm-4 control-label " for="cc_code">Email </label>
                    <div class="col-sm-8">

                          <input onClick="this.select();"  name="Email" id="Email" class="form-control " required="required" autocomplete="off" />

                    </div>
                </div><!--form-group-->
          
                <div class="form-group">
                   	<label class="col-sm-4 control-label required" for="cc_code">Position </label>
                    <div class="col-sm-8">
   				
                      <select name="position" id="position" class="select2_single form-control"  >
                                        <option value="Marine Director">Marine Director</option>
                                        <option value="Deputy Marine Manager">Deputy Marine Manager</option>
                                        <option value="Crewing Staff">Crewing Staff</option>
                                        <option value="Crewing Officerr">Crewing Officer</option>    
                              </select>

                    </div>
                </div><!--form-group-->


                  

                
    </form>
                 <div class="form-group">
                    <label class="col-sm-4 control-label required" for="cc_code">File Chứng chỉ </label>
                    <div class="col-sm-8">
                    
     					<!-- Upload file form -->
     					<div>
     					<a id="linkCertificate" style="text-decoration: underline;color:blue" target="_blank" title="Download hình scan"></a> 
						</div>
						<form id="upload-certificate-form">
							<input onClick="this.select();" class="form-control" id="upload-certificate-input" type="file" name="uploadfile" accept="*" />
						</form>
                    </div>
                </div><!--form-group-->





            </div><!--modal-body-->

            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-success"><i
                        class="mdi mdi-check mdi-17px"></i> Save
                </button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="mdi mdi-close mdi-17px"></i> Cancel
                </button>
            </div><!--modal-footer-->

        </div><!--model-content-->
   
</div>

    <script >
    
    
	$( document ).ready(function() {
		
				
		$("#upload-certificate-input").on("change", uploadCertificate);
		
		$( "#save" ).click(function() {

				if( $('#UserName').val() === "" ||  $('#Password').val() === ""  )
				{

					alert("Please fill data");

					
					if( $('#Password').val() === "" )
						$('#Password').focus();
					
					if( $('#UserName').val() === "" )
						$('#UserName').focus();
				}
				else
				{
			        //your form execution code
					var formData = trimObj( ConvertFormToJSON($("#form")) );
					console.log(formData);
					      $.ajax({
			                  type: "POST",
			                  contentType : 'application/json; charset=utf-8',
			                  data: JSON.stringify(formData),
			                  url: $('#PageContext').val()+ "user/add",
			                  success: function(msg){

			                      var table = $('#xtable_certificate').DataTable();

			                	  if(msg.UserId>0)
			                	  {
			                		  table.row.add( msg).draw( false );
			                		  $('#modal-confirm').modal('hide');
			                		 //console.log(msg);
			                	  }

			                  },
			                  error : function(xhr, ajaxOptions,
			                                   thrownError) {
			                  	alert("Có lỗi xảy ra nhờ admin hỗ trợ");
			                  	$('#cusloading').hide();
			               	    console.log(xhr.status);
			                    console.log(thrownError);
			                  }
			                  //
			              });
				}

		});
	});

</script>
