<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
   <head>
      <title>Header</title>
   </head>
   <body>
      <!--  table-responsive -->
      <div class="content" layout:fragment="content" id="root" >
         
          <div class="row">
            <div class="col-md-12">
               <div class="card">
                  <div class="card-body">
                     
                      <div class="nav navbar-right panel_toolbox">
                        <button data-id="0" type="button" class="dt-button btn btn-success source  ship-add" > <i class="fa fa-plus"> </i> Add </button>
                     </div>
                     
            		 <div id="div_ship">
                        <table id="ship"
                           class="table table-striped table-bordered dataTable no-footer jambo_table bulk_action"
                           style="width: 100%">
                           <thead>
                           </thead>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
       
         <script>
         var tableShip;
         new Vue({
        	    el: '#root',
        	    data: {
        	        debug: false,
        	        types:null
        	    },
        	    mounted() {
        	        this.LoadShip();
        	    },
        	    computed: {},
        	    methods: {
        	  
        	        LoadShip() {
        	        	
        	        	
        	        	
        	        	
        	            axios.get(_ctx + "ship"  )
    	                .then(response => {
    	                    var columnDefs = [{"title": "STT","targets": 0},
    	      				  { 
    	      					"targets": 1,
    	      					"visible": false,
    	      	                "searchable": false
    	      				  },
    	      				  {"title": "Name","targets": 2,"width":"15%"},
    	      				  {"title": "Alias","targets": 3},
    	      				  {"title": "Type Ship","targets": 4},
    	      				  {"title": "Deadweight","targets": 5},
    	      				  {"title": "Main Engine Power","targets": 6},
    	      				  {"title": "IMO","targets": 7},
    	      				  {"title": "Call sign","targets": 8},
    	      				  {"title": "Note","targets": 9},
    	      				  {
    	      					  "title": "",
    	      					  "targets": 10,
    	      	                  
    	      	                  "render": function (data, type, row, meta) {
    	      	                	   return '<button type="button" class="dt-button btn btn-success source  ship-edit" data-id=' + row['id'] + ' > <i class="fa fa-edit"> </i> Edit</button>';           
    	      	                   }
    	      	         
    	      				  },
    	      				  {
    	      					  "title": "",
    	      					  "targets": 11,
    	      					  "render": function (data, type, row, meta) {
    	      	                	   return '<button type="button" class="dt-button btn btn-success source  ship-delete" data-id=' + row['id'] + ' > <i class="fa fa-trash"> </i> Delete</button>';           
    	      	                   }
    	      				  }
    	      				  ];
			
			    	      var aoData = [{ "mData": "stt","defaultContent":""},
			    	      				 { "mData": "id", "defaultContent":"" },
			    	      			     { "mData": "ten", "defaultContent":"" },
			    	      			  	 { "mData": "alias", "defaultContent":"" },
			    	      			     { "mData": "loaitauid", "defaultContent":"" },
			    	      				 { "mData": "trongtai", "defaultContent":"" },
			    	      				 { "mData": "congsuatmay", "defaultContent":"" },
			    	      				 { "mData": "imo", "defaultContent":"" },
			    	      				 { "mData": "callsign", "defaultContent":"" },
			    	      				 { "mData": "ghichu", "defaultContent":"" },
			    	      				 { "mData": null},
			    	      				 { "mData": null}
			    	      				 ];
    	                    
    	                    
			    	      tableShip = $('#ship').DataTable({
    	                        data: response.data,
    	                        "columnDefs": columnDefs,
    	                        "aoColumns": aoData,
    	                        "bInfo": false,
    	                        "bPaginate": false,
    	                        "searching": false,
    	                        "fnRowCallback": function(nRow, aData, iDisplayIndex) {
    	                            var index = iDisplayIndex + 1;
    	                            $('td:eq(0)', nRow).html(index);
    	                            return nRow;
    	                        },
    	                        "createdRow": function(row, data, dataIndex, full) {
    	                            $(row).attr('data-id', data.id);
    	                        }
    	                        
    	                    });
    	                    
    	                    var url = _ctx + 'editShip/';
    	            		initEventClickForEditOrDelete("ship",".ship-edit",url);
    	            		
    	            		url = _ctx + 'deleteShip/';
    	            		initEventClickForEditOrDelete("ship",".ship-delete",url);
    	            		
    	            		$( ".ship-add" ).bind( "click", function() {
    	            			popupModalAdd( _ctx + 'editShip/0' );
    	            		});
    	                });
        	        }
        	        },

        	        Save: function(event) {

        	         
        	        }

        	    
         

        	});
         </script>
      </div>
   </body>
</html>