<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
   <head>
      <title>Header</title>
   </head>
   <body>
      <!--  table-responsive -->
      <div class="content" layout:fragment="content" id="root">
         <div class="row" v-if="profile.seaThongTinThuyenVien" >
            <div class="col-md-8">
               <div class="card">
                  <div class="card-header">
                     <h5 class="title" style="color:#f96332">
                        <a style="color:black" :href="'/crew/' + profile.seaThongTinThuyenVien.id " v-if=" profile.seaThongTinThuyenVien.id != null ">  Profile  </a>
                        | Resumes 
                        <a style="color:black" :href="'/crew/certificate/' + + profile.seaThongTinThuyenVien.id" v-if=" profile.seaThongTinThuyenVien.id != null "> | Certificate  </a>
                        <a style="color:black" :href="'/crew/rank/' + + profile.seaThongTinThuyenVien.id" v-if=" profile.seaThongTinThuyenVien.id != null "> | Rank  </a>
                     </h5>
                  </div>
                  <div v-show="debug">
                     <p>{{profile.seaThongTinThuyenVien}}</p>
                  </div>
                  <ul v-if="errors && errors.length" id="error_id">
                     <li v-for="error of errors" style="color:red">
                        {{error.message}}
                     </li>
                  </ul>
                  <div class="card-body">
                  <h6>Thông Tin Gia Đình</h6>
                  <div class="nav navbar-right panel_toolbox">
                  			<button type="button" class="btn btn-primary btn-xs"id="btnAddTrinhDoChuyenMon"> <i class="fa fa-plus"> </i>  Add</button>
               			</div>
                    <div id="div_family">
                     <table id="family"
                        class="table table-striped table-bordered dataTable no-footer jambo_table bulk_action"
                        style="width: 100%">
                        <thead>
                        </thead>
                     </table>
                  	</div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card card-user">
                  <div class="image">
                     <img th:src="@{/images/bg5.jpg}" alt="...">
                  </div>
                  <div class="card-body">
                     <div class="author">
                        <a href="#">
                           <div v-if="profile.seaFile && profile.seaFile.name" >
                              <img  v-if="profile.seaFile" class="avatar border-gray" v-bind:src="profile.seaFile.name" alt="..." style="margin-bottom: 0.5em;">
                           </div>
                           <div v-else>
                              <img class="avatar border-gray" th:src="@{/images/picture.jpg}" alt="..." style="margin-bottom: 0.5em;">
                           </div>
                           <h5 class="title rightProfile" style="margin-bottom: 0.5em;" v-if="profile.seaThongTinThuyenVien" >{{profile.seaThongTinThuyenVien.hoten}}</h5>
                        </a>
                        <div v-if="profile.seaThongTinThuyenVien">
                           <div class="form-group input-group" v-if="profile.seaThongTinThuyenVien.ngaysinh">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> <i class="fa fa-birthday-cake"></i> </span>
                              </div>
                              <input  class="form-control"  type="text"  v-model="profile.seaThongTinThuyenVien.ngaysinh" readonly style="background-color:white" >
                           </div>
                           <div class="form-group input-group"  v-if="profile.shortProfileCrew.status_ship!=null ">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> <i class="fa  fa-exclamation-circle"></i> </span>
                              </div>
                              <input  class="form-control rightProfile"  type="text" value="On board" v-bind:value="profile.shortProfileCrew.status_ship"  readonly style="background-color:white"  >
                           </div>
                           <div class="form-group input-group" v-if=" profile.shortProfileCrew.tauOffHoacOnGanNhat!=null">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> <i class="fa  fa-ship"></i> </span>
                              </div>
                              <input  class="form-control rightProfile"  type="text"  v-bind:value="profile.shortProfileCrew.tauOffHoacOnGanNhat" readonly style="background-color:white" >
                           </div>
                           <div class="form-group input-group" v-if=" profile.shortProfileCrew.ngayOffHoacOnGanNhat">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> <i class="fa fa-calendar-alt"></i> </span>
                              </div>
                              <input  class="form-control rightProfile"  type="text"  v-bind:value="profile.shortProfileCrew.ngayOffHoacOnGanNhat" readonly style="background-color:white" >
                           </div>
                           <div class="form-group input-group" v-if="profile.seaThongTinThuyenVien.chucdanhtheochuyenmonid != null">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> <i class="fa  fa-exclamation-circle"></i> </span>
                              </div>
                              <input  class="form-control rightProfile"  type="text"  v-bind:value="'COMP.CERT : ' + profile.seaThongTinThuyenVien.chucdanhtheochuyenmonid  " readonly style="background-color:white">
                           </div>
                           <div class="form-group input-group" v-if="profile.shortProfileCrew.chucdanh != null ">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> <i class="fa  fa-exclamation-circle"></i> </span>
                              </div>
                              <input  class="form-control rightProfile"  type="text"  v-bind:value="'ONBROARD : ' + profile.shortProfileCrew.chucdanh" readonly style="background-color:white">
                           </div>
                           <div class="form-group input-group" v-if=" profile.seaThongTinThuyenVien.email">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                              </div>
                              <input  class="form-control rightProfile" placeholder="Email address" type="email"  v-bind:value="profile.seaThongTinThuyenVien.email" readonly style="background-color:white">
                           </div>
                           <div class="form-group input-group" v-if="profile.seaThongTinThuyenVien.dtdidong != null">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                              </div>
                              <input  class="form-control"  type="text"  v-bind:value=" 'Mobile : ' + profile.seaThongTinThuyenVien.dtdidong " readonly style="background-color:white">
                           </div>
                           <div class="form-group input-group" v-if=" profile.seaThongTinThuyenVien.dtnha != null ">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                              </div>
                              <input  class="form-control"  type="text"  v-bind:value="'Home : ' + profile.seaThongTinThuyenVien.dtnha" readonly style="background-color:white">
                           </div>
                           <div class="form-group input-group" v-if="profile.seaThongTinThuyenVien.diachitamchu != null">
                              <textarea rows="20" cols="100" class="form-control"  v-bind:value="'Address : ' +profile.seaThongTinThuyenVien.diachitamchu" ></textarea>
                           </div>
                           <div class="form-group input-group">
                              <a id="btnSave" class="btn " style="background: #f96332;color: white;" v-on:click="Save"><i class="fa fa-edit m-right-xs" ></i>Save Profile</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row" >
            <div class="col-md-8">
               <div class="card">
                  <div class="card-header">
                     <h5 class="title">Working Status</h5>
                  </div>
                  <div class="card-body">
                  </div>
               </div>
            </div>
         </div>
         <script>
            new Vue({
                el: '#root',
                data: {
                  profile: {},
                  nations:[],
                  debug: false,
                  errors:[],
                  family:[]
                },
                mounted() {
                  this.LoadData();
                },
                computed: {},
                methods: {
                  LoadData() { 
                	var pageURL = window.location.href;
                    axios.get( $('#PageContext').val() + "crew/profile/" + pageURL.substr(pageURL.lastIndexOf('/') + 1)  )
                      .then(response => {
                        this.profile = response.data;
                      if(this.profile.seaFile && this.profile.seaFile.name)
                        {
                        	this.profile.seaFile.name = $('#PageContext').val() +'disk/' + this.profile.seaFile.name;
                        }
                      })
                      .catch(e => {
                        this.errors.push(e)
                      });
                    
                    axios.get( $('#PageContext').val() + "masterdata/S001"  )
                    .then(response => {
                      this.nations = response.data;
                    })
                    .catch(e => {
                      this.errors.push(e)
                    });
                    
                    //Load Family Information
                    $('#div_family').html(
                    		'<table id="family" class="table table-striped table-bordered dataTable no-footer jambo_table bulk_action" style="width: 100%"><thead></thead></table>'
                    );
                   axios.get( $('#PageContext').val() + "crew/thongtingiadinh/" + pageURL.substr(pageURL.lastIndexOf('/') + 1)  )
            	   .then(response => {
            
		               this.family = response.data;
		               
		               
		               var aoData = [
		            	{ "mData": null,"defaultContent": ""},
		            	{"mData": "id","defaultContent": ""},
		               	{"mData": "hoten","defaultContent": ""},
		               	{"mData": "text","defaultContent": ""},
		               	{"mData": "nghenghiep","defaultContent": ""},
		               	{"mData": "dienthoai","defaultContent": ""},
		               	{"mData": "congty","defaultContent": ""},
		               	{ "mData": null,"defaultContent": ""},
						{ "mData": null,"defaultContent": ""}
		               	];
            
              			 var columnDefs = [
              		   {"title": "STT","targets": 0},
          			   { 
          					"targets": 1,
          					"visible": false,
          	                "searchable": false
          			   },
	                   {"title": "Họ tên","targets": 2,"className": "dt-left","width":"20%"},
	                   {"title": "Quan hệ","targets": 3,},
	                   {"title": "Nghề nghiệp","targets": 4,"visible": false,"searchable": false},
	                   {"title": "Điện thoại","targets": 5},
	                   {"title": "Công ty","targets":6},
	                   {"title": "","targets":7,
	                	   "render": function (data, type, row, meta) {
		                	   return '<button type="button" class="btn btn-primary btn-xs trinhdochuyenmon-edit" data-id=' + row['id'] + ' > <i class="fa fa-edit"> </i> Edit</button>';           
		                 
	                	   } 
	                   },
	                   {"title": "","targets":8,
	                	   "render": function (data, type, row, meta) {
	                		   return '<button type="button" class="btn btn-primary btn-xs trinhdochuyenmon-delete" data-id=' + row['id'] + ' > <i class="fa fa-trash"> </i> Delete</button>';           
		                   } 
	                   },
	                   
	                   {"className": "dt-center", "targets": "_all"}
	                   
	                   ];
            
               		$('#family').DataTable( {
			            data: this.family,
			            "columnDefs": columnDefs,
	                    "aoColumns": aoData,
			            "bInfo": false,
			            "bPaginate": false,
			            "searching": false,
			            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
			            	var index = iDisplayIndex +1;
			            	$('td:eq(0)',nRow).html(index);
			            	return nRow;
			            },
			            "createdRow": function( row, data, dataIndex,full) {
			            	$(row).attr('data-id', data.id);
			            }
		            });
                    
            	   });
                  },
            
                  Save: function(event) {
            
                    //Validate Form
                    this.errors = [];
                    console.log (this.profile.seaThongTinThuyenVien.hoten);
                    if (this.profile.seaThongTinThuyenVien.hoten == null)
                    {
                      this.errors.push({
                        message: "Name required."
                      });
                    }
                    
                    if (this.profile.seaThongTinThuyenVien.cmnd == null)
                    {
                      this.errors.push({
                        message: "ID Card required."
                      });
                    }
                    if (!this.errors.length) {
                      // Call Insert
                      axios.post( $('#PageContext').val() + "crew/save", this.profile)
                        .then(response => {
                        	alert("Success");
                        	this.LoadData();
                        })
                        .catch(e => {
                          this.errors.push(e)
                        })
                    }
                  }
            
                }
            
              });
         </script>
      </div>
   </body>
</html>