<div class="modal-dialog" id="root" >
    <form  method="POST" class="form-horizontal" id="form">
        <div class="modal-content">
        	<input id="thuyenVienId" type="hidden" th:value="${thuyenVienId}"></input>
            <div class="modal-header" style="display: table;" >

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="margin-top:0px" >Delete</h4>
            
            </div>
            
            <div class="modal-body">
			This is delete data cannot restore.
			Are you sure ? 

            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-success" v-on:click="Save" data-dismiss="modal"><i
                        class="mdi mdi-check mdi-17px"></i> Save
                </button>
                
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="mdi mdi-close mdi-17px"></i> Cancel
                </button>
            </div>

        </div>
        </div>
       </form>
</div>

<script >

new Vue({
    el: '#root',
    data: {
        record: {},
        relations: [],
        debug: false,
        errors: []
    },
    mounted() {
        this.LoadData();
    },
    computed: {},
    methods: {
        LoadData() {},

        Save: function(event) {

            if (!this.errors.length) {

               // this.record.thuyenvienid = getLastParameterOnURL ();
                
                axios.delete(_ctx + "removeCrew/" + $('#thuyenVienId').val() )
                    .then(response => {
                    	location.reload();
                    })
                    .catch(e => {
                        this.errors.push(e)
                    })
            }
            
        }
        

    }

});
	
</script>


