<div class="modal-dialog" id="root" >
    <form  method="POST" class="form-horizontal" id="form">
        <div class="modal-content">
        	<input id="SeaTrinhDoNgoaiNguID" type="hidden" th:value="${SeaTrinhDoNgoaiNguID}"></input>
            <div class="modal-header" style="display: table;" >

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="margin-top:0px" >Language</h4>
            
            </div>
            
            <div class="modal-body">
            
             <div class="form-group form-inline">
                    <label class="col-sm-4 control-label left-title requiredStar" >Type Language </label>
                    <div class="col-sm-8">
                     		<select class="form-control" v-model="record.loaingoaingu" >
                                 <option v-for="option in languages" v-bind:value="option.lov.id" >{{ option.text }}</option>
                            </select>
                    </div>
                </div>
                

                <div class="form-group form-inline">
                    <label class="col-sm-4 control-label  left-title"  >Listening </label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control"  v-model="record.nghe" >
                    </div>
                </div>
                
                 <div class="form-group form-inline">
                    <label class="col-sm-4 control-label  left-title"  >Speaking </label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control"  v-model="record.noi" >
                    </div>
                </div>
                
                 <div class="form-group form-inline">
                    <label class="col-sm-4 control-label  left-title"  >Reading </label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control"  v-model="record.doc" >
                    </div>
                </div>
                
                 <div class="form-group form-inline">
                    <label class="col-sm-4 control-label  left-title"  >Write </label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control"  v-model="record.viet" >
                    </div>
                </div>
                

                 <div class="form-group">
                    <label class="col-sm-4 control-label" >Ghi chú </label>
                    <div class="col-sm-12">
                        <textarea  class="form-control "  cols="20" style="min-height:50px"  v-model="record.ghichu" ></textarea>                  
                    </div>
                </div>

            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-success" v-on:click="Save" data-dismiss="modal"><i
                        class="mdi mdi-check mdi-17px"></i> Save
                </button>
                
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="mdi mdi-close mdi-17px"></i> Cancel
                </button>
            </div>

        </div>
        </div>
       </form>
</div>

<script >

new Vue({
    el: '#root',
    data: {
        record: {},
        languages: [],
        debug: false,
        errors: []
    },
    mounted() {
        this.LoadData();
    },
    computed: {},
    methods: {
        LoadData() {
        	var pageURL = window.location.href;
            axios.get( _ctx + "getNgoaiNgu/" + $('#SeaTrinhDoNgoaiNguID').val() )
                .then(response => {
                    this.record = response.data;
                })
                .catch(e => {
                    this.errors.push(e)
            });

            axios.get(_ctx + "masterdata/S008")
                .then(response => {
                    this.languages = response.data;
                })
                .catch(e => {
                    this.errors.push(e)
                });

            //Load Family Information


           
        },

        Save: function(event) {

            //Validate Form
            this.errors = [];
            console.log(this.record.loaingoaingu);
            if (this.record.loaingoaingu == null) {
                this.errors.push({
                    message: "Type language required."
                });
            }

      
            if (!this.errors.length) {
                // Call Insert

                this.record.thuyenvienid = getLastParameterOnURL();
                axios.post(_ctx + "saveNgoaiNgu", this.record)
                    .then(response => {
                    		location.reload();
                    	
                    })
                    .catch(e => {
                        this.errors.push(e)
                    })
            }
            
        }
        

    }

});
	
</script>


