<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.saigonbpo.dc.Mapper.AppMapper'>

	<select id="get_SP_Get_statistical_DashBoard" resultType="map">
		call ${jdbc.schema}.SP_Get_statistical_DashBoard() 
	</select>
	
	<select id="sp_statistic_department" resultType="map">
		call ${jdbc.schema}.sp_statistic_department() 
	</select>
	
	<select id="sp_statistic_ship" resultType="map">
		call ${jdbc.schema}.sp_statistic_ship(1,'empty') 
	</select>
	
	<select id="getListOfBoat" resultType="map">
		call ${jdbc.schema}.SP_Tim_Kiem_TV_Du_Tru_V2(413,null,null,null,null,#{tinhtrangdieudong},null) 
	</select>
	<select id="getListOfBoat_v3" resultType="map">
		call ${jdbc.schema}.SP_Tim_Kiem_TV_Du_Tru_V3(413,null,null,null,null,#{tinhtrangdieudong},null,#{trangthaiId}) 
	</select>
	
		<select id="getListOfBoat_4" resultType="map">
		call ${jdbc.schema}.SP_Tim_Kiem_TV_Du_Tru_V2(413,#{crew},null,null,null,null,null) 
	</select>
	
	
	<select id="sp_sea_get_profile_user" parameterType="int" resultType="com.saigonbpo.dc.Model.ShortProfileCrew">
		call ${jdbc.schema}.sp_sea_get_profile_user(413,#{thuyenvienid},null,null,null,null, null,null,null) 
	</select>
	

	<select id="sp_get_info_crew" resultType="map">
		call ${jdbc.schema}.sp_get_info_crew(#{thuyenvienid}) 
	</select>
	
	
	
	<select id="SP_LOV_GET" parameterType="string" resultType="com.saigonbpo.dc.Model.MasterData">
		call sea_userdb.SP_LOV_GET(413,25,#{code}) 
	</select>
	
	
	<select id="sp_get_thongtingiadinh" resultType="map" parameterType="int">
		call ${jdbc.schema}.sp_get_thongtingiadinh(413,#{thuyenvien_id}) 
	</select>
	
	<select id="sp_get_thongtingiadinh_by_id" resultType="map" parameterType="int">
		select x.*,y.text
		from ${jdbc.schema}.sea_thongtingiadinh x
		left join ${jdbc.schema_02}.tab_lov y on x.quanhe=y.id
		where x.id = #{id}
	</select>
	
	
	
	
	
	 <update id = "updateProfile" parameterType = "map">
      UPDATE  ${jdbc.schema}.sea_thongtinthuyenvien
		SET
		id = #{id},
		hoten = #{hoten},
		hinh = #{hinh},
		gioitinh =b''+ #{gioitinh} ,
		
		ngaysinh = str_to_date(   #{ngaysinh}, '%d/%m/%Y' ),
		noisinh = #{noisinh},
		dtdidong = #{dtdidong},
		dtnha = #{dtnha},
		email = #{email},
		diachitamchu = #{diachitamchu},
		cmnd = #{cmnd},
		cmndngaycap =  #{cmndngaycap},
		cmndnoicap = #{cmndnoicap},
		diachihokhau = #{diachihokhau},
		bhxh = #{bhxh},
		solaodong = #{solaodong},
		solaodongngaycap =  str_to_date( #{solaodongngaycap}, '%d/%m/%Y'),
		masothuecanhan = #{masothuecanhan},
		songuoidangkyphuthuoc = #{songuoidangkyphuthuoc},
		chieucao = #{chieucao},
		cannang = #{cannang},
		nhommau = #{nhommau},
		sizequanao = #{sizequanao},
		sizegiay = #{sizegiay},
		chichubaoholaodong = #{chichubaoholaodong},
		tinhtranghonnhan = #{tinhtranghonnhan},
		sotaikhoannganhang = #{sotaikhoannganhang},
		diemhoihuong = #{diemhoihuong},
		sothich = #{sothich},

		passport = #{passport},
		chucdanhtheochuyenmonId = #{chucdanhtheochuyenmonId},

		ghichu = #{ghichu},
		quoctich = #{quoctich},
		nguoilienhe = #{nguoilienhe},
		ngaybatdaulamviec = str_to_date(    #{ngaybatdaulamviec}      , '%d/%m/%Y' ),
		kynanglamviec = #{kynanglamviec},
		trangthaiId = #{trangthaiId},
		ngaytao = #{ngaytao},
		nguoitaoId = #{nguoitaoId},
		ngaycapnhat = now(),
		nguoicapnhatId = #{nguoicapnhatId},
		maso = #{maso},
		ghichubaoholaodong = #{ghichubaoholaodong},

	
		passportngaycap =    str_to_date(   #{passportngaycap}      , '%d/%m/%Y' ) ,
		passportngayhethan = str_to_date(   #{passportngayhethan} , '%d/%m/%Y' ) ,
		reason = #{reason},
		request =str_to_date(   #{request} , '%d/%m/%Y' ),
		agreement = str_to_date(  #{agreement}, '%d/%m/%Y' ) ,
		datereceived = str_to_date(    #{datereceived}    , '%d/%m/%Y' ) ,
		checkedby = #{checkedby},


		smb = #{smb},
		smbngayhethan = str_to_date(     #{smbngayhethan}   , '%d/%m/%Y' ),
		dateapplied =str_to_date(      #{dateapplied}  , '%d/%m/%Y' ),
		checkby = #{checkby},
		datecheckby =str_to_date(      #{datecheckby}  , '%d/%m/%Y' )
		WHERE id = #{id};
   </update>
	
	<insert id="insertProfile" parameterType = "map"   useGeneratedKeys="true" keyProperty="id">
			INSERT INTO  ${jdbc.schema}.sea_thongtinthuyenvien
			(
				hoten,
				hinh,
				gioitinh,
				ngaysinh ,
				noisinh,
				dtdidong,
				dtnha,
				email,
				diachitamchu,
				cmnd,
				cmndngaycap,
				cmndnoicap,
				diachihokhau,
				bhxh,
				solaodong,
				solaodongngaycap,
				chieucao,
				cannang,
				nhommau,
				sizequanao,
				sizegiay,
				chichubaoholaodong,
				tinhtranghonnhan,
				sotaikhoannganhang,
				diemhoihuong,
				sothich,
				tinhtrangdieudong,
				passport,
				chucdanhtheochuyenmonId,
				chucdanhtheohientaiId,
				ghichu,
				quoctich,
				nguoilienhe,
				ngaybatdaulamviec,
				trangthaiId,
				ngaytao,
				maso,
				ghichubaoholaodong,
				isdelete,
				passportngaycap,
				passportngayhethan,
			    reason,
				request,
				agreement,
		
				smb,
				smbngayhethan,
				dateapplied,
				checkby,
				datecheckby
			)
			VALUES
			(
				#{hoten},
				#{hinh},
				b''+ #{gioitinh},
				str_to_date(   #{ngaysinh}, '%d/%m/%Y' ) ,
				#{noisinh},
				#{dtdidong},
				#{dtnha},
				#{email},
				#{diachitamchu},
				#{cmnd},
				#{cmndngaycap} ,
				#{cmndnoicap},
				#{diachihokhau},
				#{bhxh},
				#{solaodong},
				str_to_date(   #{solaodongngaycap}, '%d/%m/%Y' ),
				#{chieucao},
				#{cannang},
				#{nhommau},
				#{sizequanao},
				#{sizegiay},
				#{chichubaoholaodong},
				#{tinhtranghonnhan},
				#{sotaikhoannganhang},
				#{diemhoihuong},
				#{sothich},
				0,
				#{passport},
				#{chucdanhtheochuyenmonId},
				#{chucdanhtheohientaiId},
				#{ghichu},
				#{quoctich},
				#{nguoilienhe},
				str_to_date(   #{ngaybatdaulamviec}, '%d/%m/%Y' ),
				#{trangthaiId},
				now(),
				#{maso},
				#{ghichubaoholaodong},
				0,
				str_to_date(   #{passportngaycap}, '%d/%m/%Y' ) ,
				str_to_date(  #{passportngayhethan}, '%d/%m/%Y' ) ,
				#{reason},
				str_to_date(   #{request}, '%d/%m/%Y' ) ,
				str_to_date(  #{agreement}, '%d/%m/%Y' ) ,

				#{smb},
			 	str_to_date(	#{smbngayhethan}, '%d/%m/%Y' ),
			 	str_to_date(		#{dateapplied} , '%d/%m/%Y' ),
				#{checkby},
				str_to_date(		#{datecheckby} , '%d/%m/%Y' )
			)
</insert>

	<insert id="insertTabFile" parameterType = "map"   useGeneratedKeys="true" keyProperty="id">
		INSERT INTO  ${jdbc.schema}.tab_file(name,full_path,size,type) values(#{name},#{full_path},#{size},#{type})
	</insert>
	
		
	<insert id="addInformation" parameterType = "map" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO  ${jdbc.schema}.sea_thongtingiadinh
			(
				thuyenvienId,
				hoten,
				congty,
				nghenghiep,
				dienthoai,
				diachi,
				ghichu,
				quanhe
			)
			VALUES
			(
				#{thuyenvienId},
				#{hoten},
				#{congty},
				#{nghenghiep},
				#{dienthoai},
				#{diachi},
				#{ghichu},
				#{quanhe}
			)
	</insert>
	
	 <update id = "editInformation" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_thongtingiadinh set
			thuyenvienId = #{thuyenvienId},
			hoten = #{hoten},
			nghenghiep = #{nghenghiep},
			dienthoai = #{dienthoai},
			diachi = #{diachi},
			ghichu = #{ghichu},
			congty = #{congty},
			quanhe = #{quanhe}
		where id = #{id}
	 </update>
	 
	 <delete id="deleteInformation"  parameterType = "map">
	 	delete from ${jdbc.schema}.sea_thongtingiadinh where id = #{id}
	 </delete>
	 
	 
	<select id="sp_get_trinhdochuyenmon" resultType="map" parameterType="int">
		call ${jdbc.schema}.sp_get_trinhdochuyenmon(413,#{thuyenvien_id}) 
	</select>
	
	<select id="sp_get_trinhdochuyenmon_by_id" resultType="map" parameterType="int">
		select x.*
		from ${jdbc.schema}.sea_trinhdochuyenmon x
		where x.id = #{id}
	</select>
	 
	 <insert id="addTrinhDoChuyenMon" parameterType = "map" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO  ${jdbc.schema}.sea_trinhdochuyenmon (bangcap, chuyennganh, denngay, ghichu, thuyenvienId, truong, tungay, xeploai)
			VALUES (#{bangcap}, #{chuyennganh}, #{denngay}, #{ghichu}, #{thuyenvienId}, #{truong}, #{tungay}, #{xeploai})
	</insert>
	
	 <update id = "editTrinhDoChuyenMon" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_trinhdochuyenmon set
			bangcap = #{bangcap},
			chuyennganh = #{chuyennganh},
			denngay = #{denngay},
			ghichu = #{ghichu},
			thuyenvienId = #{thuyenvienId},
			truong = #{truong},
			tungay = #{tungay},
			xeploai = #{xeploai}
		where id = #{id}
	 </update>
	 
	 <delete id="deleteTrinhDoChuyenMon"  parameterType = "map">
	 	delete from ${jdbc.schema}.sea_trinhdochuyenmon where id = #{id}
	 </delete>
	 
	 
	 <select id="sp_get_trinhdongoaingu" resultType="map">
		call ${jdbc.schema}.sp_get_trinhdongoaingu(413,#{thuyenvien_id}) 
	</select>
	
	<select id="sp_get_TrinhDoNgoaiNgu_by_id" resultType="map" parameterType="int">
		select x.*,y.text
		from ${jdbc.schema}.sea_trinhdongoaingu x
		left join ${jdbc.schema_02}.tab_lov y on x.loaingoaingu = y.id
		where x.id = #{id}
	</select>
	 
	 <insert id="add_trinhdongoaingu" parameterType = "map" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO  ${jdbc.schema}.sea_trinhdongoaingu (doc, ghichu,loaingoaingu, nghe, noi, thuyenvienId, viet)
			VALUES (#{doc}, #{ghichu},#{loaingoaingu}, #{nghe}, #{noi}, #{thuyenvienId}, #{viet})
	</insert>
	
	 <update id = "edit_trinhdongoaingu" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_trinhdongoaingu set
			doc = #{doc},
			ghichu = #{ghichu},
			loaingoaingu = #{loaingoaingu},
			nghe = #{nghe},
			thuyenvienId = #{thuyenvienId},
			noi = #{noi},
			viet = #{viet}
		where id = #{id}
	 </update>
	 
	 <delete id="delete_trinhdongoaingu"  parameterType = "map">
	 	delete from ${jdbc.schema}.sea_trinhdongoaingu where id = #{id}
	 </delete>
	 
	 
	 <select id="sp_get_trinhdovitinh_by_id" resultType="map" parameterType="int">
		select x.*,y.text
		from ${jdbc.schema}.sea_trinhdovitinh x
		left join ${jdbc.schema_02}.tab_lov y on x.xeploai = y.id
		where x.id = #{id}
	</select>
	 
	 <insert id="add_trinhdovitinh" parameterType = "map" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO  ${jdbc.schema}.sea_trinhdovitinh ( ghichu ,  tenphanmem , thuyenvienId , xeploai )
			VALUES ( #{ghichu} , #{tenphanmem} , #{thuyenvienId} , #{xeploai} )
	</insert>
	
	 <update id = "edit_trinhdovitinh" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_trinhdovitinh set
			ghichu=#{ghichu}, 
			tenphanmem=#{tenphanmem}, 
			thuyenvienId= #{thuyenvienId}, 
			xeploai= #{xeploai}
		where id = #{id}
	 </update>
	 
	 <delete id="delete_trinhdovitinh"  parameterType = "map">
	 	delete from ${jdbc.schema}.sea_trinhdovitinh where id = #{id}
	 </delete>
	 
	<select id="sp_get_trinhdovitinh" resultType="map">
		call ${jdbc.schema}.sp_get_trinhdovitinh(413,#{thuyenvien_id}) 
	</select>
	
	<select id="getMainCertificateCrew" resultType="map" parameterType="map">
		SELECT x.so,DATE_FORMAT(x.tungay, '%d/%m/%Y') as tungay,DATE_FORMAT(x.denngay, '%d/%m/%Y') as denngay
		FROM ${jdbc.schema}.sea_chungchithuyenvien x
		where x.thuyenvienId=#{thuyenvienId}
		and x.tenchungchiVal in (1,0)
		order by x.id;
	</select>
	
	<select id="getSeamanBook" resultType="map" parameterType="map">
		SELECT x.so,DATE_FORMAT(x.tungay, '%d/%m/%Y') as tungay,DATE_FORMAT(x.denngay, '%d/%m/%Y') as denngay
		FROM ${jdbc.schema}.sea_chungchithuyenvien x
		where x.thuyenvienId=#{thuyenvienId}
		and x.tenchungchiVal=2
	</select>
	
	
	<select id="getMainCertificateCrewII" resultType="map" parameterType="map">
		SELECT x.so,DATE_FORMAT(x.tungay, '%d/%m/%Y') as tungay,DATE_FORMAT(x.denngay, '%d/%m/%Y') as denngay
		FROM ${jdbc.schema}.sea_chungchithuyenvien x
		where x.thuyenvienId=#{thuyenvienId}
		and x.tenchungchiVal in (2,0)
		order by x.id;
	</select>
	
	<select id="queryKinhNghiemLamviec" resultType="map" parameterType="string">
		select lt.*,ROUND(DATEDIFF(denngay,tungay)/30,1) as monthtour ,ltp.text as loaitau_text,g.text as chucdanh_text
		from ${jdbc.schema}.sea_kinhnghiemlamviec lt
		left join (select * from ${jdbc.schema_02}.tab_lov lt2 where lt2.code like 'T001') ltp on (lt.loaitau = ltp.id)
		left join (select * from ${jdbc.schema_02}.tab_lov lt2 where lt2.code like 'TV002') g on (lt.chucdanh = g.value)
		 where lt.thuyenvienId=#{thuyenvien_id} 
		 and (lt.loaitau=235 or lt.loaitau=236 or lt.loaitau =156)
		order by lt.tungay,lt.denngay;

	</select>
	
	<select id="queryKinhNghiemLamviecOther" resultType="map" parameterType="string">
		select lt.*,ROUND(DATEDIFF(denngay,tungay)/30,1) as monthtour ,ltp.text as loaitau_text,g.text as chucdanh_text
		from ${jdbc.schema}.sea_kinhnghiemlamviec lt
		left join (select * from ${jdbc.schema_02}.tab_lov lt2 where lt2.code like 'T001') ltp on (lt.loaitau = ltp.id)
		left join (select * from ${jdbc.schema_02}.tab_lov lt2 where lt2.code like 'TV002') g on (lt.chucdanh = g.value)
		 where lt.thuyenvienId=#{thuyenvien_id} 
		 and lt.loaitau not in (235,236,156)
		order by lt.tungay,lt.denngay;

	</select>
	
	<select id="sp_get_Experience_by_id" resultType="map" parameterType="int">
		select lt.*,ROUND(DATEDIFF(denngay,tungay)/30,1) as monthtour ,ltp.text as loaitau_text,g.text as chucdanh_text
		from ${jdbc.schema}.sea_kinhnghiemlamviec lt
		left join (select * from ${jdbc.schema_02}.tab_lov lt2 where lt2.code like 'T001') ltp on (lt.loaitau = ltp.id)
		left join (select * from ${jdbc.schema_02}.tab_lov lt2 where lt2.code like 'TV002') g on (lt.chucdanh = g.value)
		 where lt.id=#{id} 
		order by lt.tungay,lt.denngay;

	</select>
	
	
	 <insert id="add_experience" parameterType = "map" useGeneratedKeys="true" keyProperty="id">
			
			INSERT INTO  ${jdbc.schema}.sea_kinhnghiemlamviec (
			 chucdanh, congsuatmay, denngay, ghichu, loaitau,
 			 mycompany, tencongty, tentau, thuyenvienId, trongtai, tungay )
			VALUES ( 
					 #{chucdanh} , #{congsuatmay} , str_to_date(  #{denngay}  , '%d/%m/%Y' )	 , #{ghichu},#{loaitau},
					 0,#{tencongty},#{tentau},#{thuyenvienId},#{trongtai},str_to_date(  #{tungay}  , '%d/%m/%Y' )
			 )
	</insert>
	
	 <update id = "edit_experience" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_kinhnghiemlamviec set
			chucdanh=#{chucdanh}, 
			congsuatmay=#{congsuatmay}, 
			ghichu= #{ghichu}, 
			loaitau= #{loaitau},
			tencongty= #{tencongty},
			tentau= #{tentau},
			trongtai= #{trongtai},
			tungay= str_to_date(  #{tungay}  , '%d/%m/%Y' ), 
			denngay= str_to_date(  #{denngay}  , '%d/%m/%Y' )	
		where id = #{id}
	 </update>
	 
	 <delete id="delete_experience"  parameterType = "map">
	 	delete from ${jdbc.schema}.sea_kinhnghiemlamviec where id = #{id}
	 </delete>
	
	
	 <select id="sp_tab_department" resultType="map">
		call ${jdbc.schema_02}.sp_tab_department(413,25,N'getcategory',null) 
	</select>
	
	
	<select id="SP_TAB_LOV" resultType="map" parameterType="string">
		call ${jdbc.schema_02}.SP_TAB_LOV(413,25,#{code},null,null,null)
	</select>
	
	<select id="SP_TAB_LOV_CAT_GETPARENTCODE" resultType="map" parameterType="string">
		call sea_userdb.SP_TAB_LOV_CAT_GETPARENTCODE (413,25,#{code})
	</select>
	
	<select id="sp_get_Masterdata_by_id" resultType="map" parameterType="int">
		select x.value as VALUE,x.parentid as PARENTID,x.id as ID,x.text as text, x.textEn,x.code as CODE,x.isactive as ISACTIVE,x.sort as SORT,y.parentcode as textparent 
		from ${jdbc.schema_02}.tab_lov x,${jdbc.schema_02}.tab_lov_cat y where x.ID=#{ID} and x.code=y.code  ;
	</select>
	
	 <insert id="add_masterdata" parameterType = "map" useGeneratedKeys="true" keyProperty="ID">
			
			INSERT INTO  ${jdbc.schema_02}.tab_lov (
			 CODE, PARENTID, SORT, VALUE, text,
 			 textEn, ISACTIVE, domainId )
			VALUES ( 
					#{CODE},#{PARENTID},#{SORT},(select UNIX_TIMESTAMP()),#{text},#{textEn},#{ISACTIVE},25
			 )
	</insert>
	
	 <update id = "edit_masterdata" parameterType = "map" >
		UPDATE  ${jdbc.schema_02}.tab_lov set
			CODE=#{CODE}, 
			PARENTID= #{PARENTID},
			SORT= #{SORT},
			text=#{text},
			textEn=#{textEn},
			ISACTIVE=#{ISACTIVE}
		where ID = #{ID}
 
	 </update>
	 
	 <update id="delete_masterdata"  parameterType = "map">
	 	update  ${jdbc.schema_02}.tab_lov set ISACTIVE=0 where ID = #{ID}
	 </update>
	
	
	
	
	
	
	

</mapper>

