<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.saigonbpo.dc.Mapper.AppMapper'>

	<select id="get_SP_Get_statistical_DashBoard" resultType="map">
		call ${jdbc.schema}.SP_Get_statistical_DashBoard() 
	</select>
	
	<select id="sp_statistic_department" resultType="map">
		call ${jdbc.schema}.sp_statistic_department() 
	</select>
	
	<select id="sp_statistic_ship" resultType="map">
		call ${jdbc.schema}.sp_statistic_ship(1,'empty') 
	</select>
	
	<select id="getListOfBoat" resultType="map">
		call ${jdbc.schema}.SP_Tim_Kiem_TV_Du_Tru_V2(413,null,null,null,null,#{tinhtrangdieudong},null) 
	</select>
	<select id="getListOfBoat_v3" resultType="map">
		call ${jdbc.schema}.SP_Tim_Kiem_TV_Du_Tru_V3(413,null,null,null,null,#{tinhtrangdieudong},null,#{trangthaiId}) 
	</select>
	
		<select id="getListOfBoat_4" resultType="map">
		call ${jdbc.schema}.SP_Tim_Kiem_TV_Du_Tru_V2(413,#{crew},null,null,null,null,null) 
	</select>
	
	
	<select id="sp_sea_get_profile_user" parameterType="int" resultType="com.saigonbpo.dc.Model.ShortProfileCrew">
		call ${jdbc.schema}.sp_sea_get_profile_user(413,#{thuyenvienid},null,null,null,null, null,null,null) 
	</select>
	

	<select id="sp_get_info_crew" resultType="map">
		call ${jdbc.schema}.sp_get_info_crew(#{thuyenvienid}) 
	</select>
	
	
	<select id="SP_LOV_GET" parameterType="string" resultType="com.saigonbpo.dc.Model.MasterData">
		call sea_userdb.SP_LOV_GET(413,25,#{code}) 
	</select>
	
	
	<select id="sp_get_thongtingiadinh" resultType="map" parameterType="int">
		call ${jdbc.schema}.sp_get_thongtingiadinh(413,#{thuyenvien_id}) 
	</select>
	
	<select id="sp_get_thongtingiadinh_by_id" resultType="map" parameterType="int">
		select x.*,y.text
		from ${jdbc.schema}.sea_thongtingiadinh x
		left join ${jdbc.schema_02}.tab_lov y on x.quanhe=y.id
		where x.id = #{id}
	</select>
	
		
	<select id="sp_get_certificate" resultType="map" parameterType="string">
		call ${jdbc.schema}.SP_Boatman_Certificate_Search (413,#{thuyenvien_id},null,null,null,null,null,null,1,100000);
	</select>

	<insert id="insertTabFile" parameterType = "map"   useGeneratedKeys="true" keyProperty="id">
		INSERT INTO  ${jdbc.schema}.tab_file(name,full_path,size,type) values(#{name},#{full_path},#{size},#{type})
	</insert>
	
	 
	 <delete id="delete_trinhdovitinh"  parameterType = "map">
	 	delete from ${jdbc.schema}.sea_trinhdovitinh where id = #{id}
	 </delete>
	 
	<select id="sp_get_trinhdovitinh" resultType="map">
		call ${jdbc.schema}.sp_get_trinhdovitinh(413,#{thuyenvien_id}) 
	</select>
	
	<select id="getMainCertificateCrew" resultType="map" parameterType="map">
		SELECT x.so,DATE_FORMAT(x.tungay, '%d/%m/%Y') as tungay,DATE_FORMAT(x.denngay, '%d/%m/%Y') as denngay
		FROM ${jdbc.schema}.sea_chungchithuyenvien x
		where x.thuyenvienId=#{thuyenvienId}
		and x.tenchungchiVal in (1,0)
		order by x.id;
	</select>
	
	<select id="getSeamanBook" resultType="map" parameterType="map">
		SELECT x.so,DATE_FORMAT(x.tungay, '%d/%m/%Y') as tungay,DATE_FORMAT(x.denngay, '%d/%m/%Y') as denngay
		FROM ${jdbc.schema}.sea_chungchithuyenvien x
		where x.thuyenvienId=#{thuyenvienId}
		and x.tenchungchiVal=2
	</select>
	
	
	<select id="getMainCertificateCrewII" resultType="map" parameterType="map">
		SELECT x.so,DATE_FORMAT(x.tungay, '%d/%m/%Y') as tungay,DATE_FORMAT(x.denngay, '%d/%m/%Y') as denngay
		FROM ${jdbc.schema}.sea_chungchithuyenvien x
		where x.thuyenvienId=#{thuyenvienId}
		and x.tenchungchiVal in (2,0)
		order by x.id;
	</select>
	
	<select id="queryKinhNghiemLamviec" resultType="map" parameterType="string">
		select lt.*, IF( denngay is null,"", ROUND(DATEDIFF(denngay,tungay)/30,1) ) as monthtour   ,ltp.text as loaitau_text,g.text as chucdanh_text
		from ${jdbc.schema}.sea_kinhnghiemlamviec lt
		left join (select * from sea_userdb.tab_lov lt2 where lt2.code like 'T001') ltp on (lt.loaitau = ltp.id)
		left join (select * from sea_userdb.tab_lov lt2 where lt2.code like 'TV002') g on (lt.chucdanh = g.value)
		 where lt.thuyenvienId=#{thuyenvien_id} 
		 and (lt.loaitau=235 or lt.loaitau=236 or lt.loaitau =156)
		order by lt.tungay,lt.denngay;

	</select>
	
	<select id="queryKinhNghiemLamviecOther" resultType="map" parameterType="string">
		select lt.*, IF( denngay is null,"", ROUND(DATEDIFF(denngay,tungay)/30,1) ) as monthtour ,ltp.text as loaitau_text,g.text as chucdanh_text
		from ${jdbc.schema}.sea_kinhnghiemlamviec lt
		left join (select * from sea_userdb.tab_lov lt2 where lt2.code like 'T001') ltp on (lt.loaitau = ltp.id)
		left join (select * from sea_userdb.tab_lov lt2 where lt2.code like 'TV002') g on (lt.chucdanh = g.value)
		 where lt.thuyenvienId=#{thuyenvien_id} 
		 and lt.loaitau not in (235,236,156)
		order by lt.tungay,lt.denngay;

	</select>
	

	
	 
	
	
	 <select id="sp_tab_department" resultType="map">
		call ${jdbc.schema_02}.sp_tab_department(413,25,N'getcategory',null) 
	</select>
	
	
	<select id="SP_TAB_LOV" resultType="map" parameterType="string">
		call ${jdbc.schema_02}.SP_TAB_LOV(413,25,#{code},null,null,null)
	</select>
	
	<select id="SP_TAB_LOV_CAT_GETPARENTCODE" resultType="map" parameterType="string">
		call sea_userdb.SP_TAB_LOV_CAT_GETPARENTCODE (413,25,#{code})
	</select>
	
	<select id="sp_get_Masterdata_by_id" resultType="map" parameterType="int">
		select x.value as VALUE,x.parentid as PARENTID,x.id as ID,x.text as text, x.textEn,x.code as CODE,x.isactive as ISACTIVE,x.sort as SORT,y.parentcode as textparent 
		from ${jdbc.schema_02}.tab_lov x,${jdbc.schema_02}.tab_lov_cat y where x.ID=#{ID} and x.code=y.code  ;
	</select>
	

	
	 <select id="getCertificatesNotExist" parameterType="int" resultType="com.saigonbpo.dc.Model.Lov">
		    select x.VALUE  as ID ,x.text as TEXT
		    from sea_userdb.tab_lov x
		    left join  ( SELECT * FROM sea_quanlythuyenviendb.sea_chungchithuyenvien cctt WHERE cctt.thuyenvienId = #{crewId} ) y
		    on x.VALUE = y.tenchungchiVAL
		    WHERE x.CODE='TV001' and x.ISACTIVE=1 
		    and y.tenchungchiVAL IS NULL;
		    
		    
  	</select>
  	
  		 
	 <select id="SP_Boatman_Position_Search" resultType="map" parameterType="int">
		call ${jdbc.schema}.SP_Boatman_Position_Search (413,#{thuyenvien_id},null,null,null,null,null,1,100000);
	</select>
	
	
	<select id="SP_DieuDong_Search" resultType="map" parameterType="string">
		call ${jdbc.schema}.SP_DieuDong_Search (413,null,#{thuyenvienId},null,null,null,null,null,1,100000)
	</select>
	
	<select id="SP_Kinh_Nghiem_Lam_Viec" resultType="map" parameterType="string">
		call ${jdbc.schema}.SP_Kinh_Nghiem_Lam_Viec (413,#{thuyenvienId},null,null);
	</select>
	
	
		 
	<select id="sp_get_trinhdochuyenmon" resultType="map" parameterType="int">
		call ${jdbc.schema}.sp_get_trinhdochuyenmon(413,#{thuyenvien_id}) 
	</select>
	
		 <select id="sp_get_trinhdongoaingu" resultType="map" parameterType="int">
		call ${jdbc.schema}.sp_get_trinhdongoaingu(413,#{thuyenvien_id}) 
	</select>
	
	
	

</mapper>

