<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saigonbpo.dc.Mapper.SeaThongTinChucDanhMapper">
  <resultMap id="BaseResultMap" type="com.saigonbpo.dc.Model.SeaThongTinChucDanh">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="chucdanhId" jdbcType="INTEGER" property="chucdanhid" />
    <result column="thuyenvienId" jdbcType="INTEGER" property="thuyenvienid" />
    <result column="tungay" jdbcType="DATE" property="tungay" />
    <result column="denngay" jdbcType="DATE" property="denngay" />
    <result column="ghichu" jdbcType="VARCHAR" property="ghichu" />
    <result column="ngaytao" jdbcType="TIMESTAMP" property="ngaytao" />
    <result column="nguoitaoId" jdbcType="INTEGER" property="nguoitaoid" />
    <result column="ngaycapnhat" jdbcType="TIMESTAMP" property="ngaycapnhat" />
    <result column="nguoicapnhatId" jdbcType="INTEGER" property="nguoicapnhatid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, chucdanhId, thuyenvienId, tungay, denngay, ghichu, ngaytao, nguoitaoId, ngaycapnhat, 
    nguoicapnhatId
  </sql>
  <select id="selectByExample" parameterType="com.saigonbpo.dc.Model.SeaThongTinChucDanhExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ${jdbc.schema}.sea_thongtinchucdanh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${jdbc.schema}.sea_thongtinchucdanh
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ${jdbc.schema}.sea_thongtinchucdanh
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.saigonbpo.dc.Model.SeaThongTinChucDanhExample">
    delete from ${jdbc.schema}.sea_thongtinchucdanh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.saigonbpo.dc.Model.SeaThongTinChucDanh" useGeneratedKeys="true">
    insert into ${jdbc.schema}.sea_thongtinchucdanh (chucdanhId, thuyenvienId, tungay, 
      denngay, ghichu, ngaytao, 
      nguoitaoId, ngaycapnhat, nguoicapnhatId
      )
    values (#{chucdanhid,jdbcType=INTEGER}, #{thuyenvienid,jdbcType=INTEGER}, #{tungay,jdbcType=DATE}, 
      #{denngay,jdbcType=DATE}, #{ghichu,jdbcType=VARCHAR}, #{ngaytao,jdbcType=TIMESTAMP}, 
      #{nguoitaoid,jdbcType=INTEGER}, #{ngaycapnhat,jdbcType=TIMESTAMP}, #{nguoicapnhatid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.saigonbpo.dc.Model.SeaThongTinChucDanh" useGeneratedKeys="true">
    insert into ${jdbc.schema}.sea_thongtinchucdanh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chucdanhid != null">
        chucdanhId,
      </if>
      <if test="thuyenvienid != null">
        thuyenvienId,
      </if>
      <if test="tungay != null">
        tungay,
      </if>
      <if test="denngay != null">
        denngay,
      </if>
      <if test="ghichu != null">
        ghichu,
      </if>
      <if test="ngaytao != null">
        ngaytao,
      </if>
      <if test="nguoitaoid != null">
        nguoitaoId,
      </if>
      <if test="ngaycapnhat != null">
        ngaycapnhat,
      </if>
      <if test="nguoicapnhatid != null">
        nguoicapnhatId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chucdanhid != null">
        #{chucdanhid,jdbcType=INTEGER},
      </if>
      <if test="thuyenvienid != null">
        #{thuyenvienid,jdbcType=INTEGER},
      </if>
      <if test="tungay != null">
        #{tungay,jdbcType=DATE},
      </if>
      <if test="denngay != null">
        #{denngay,jdbcType=DATE},
      </if>
      <if test="ghichu != null">
        #{ghichu,jdbcType=VARCHAR},
      </if>
      <if test="ngaytao != null">
        #{ngaytao,jdbcType=TIMESTAMP},
      </if>
      <if test="nguoitaoid != null">
        #{nguoitaoid,jdbcType=INTEGER},
      </if>
      <if test="ngaycapnhat != null">
        #{ngaycapnhat,jdbcType=TIMESTAMP},
      </if>
      <if test="nguoicapnhatid != null">
        #{nguoicapnhatid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.saigonbpo.dc.Model.SeaThongTinChucDanhExample" resultType="java.lang.Long">
    select count(*) from ${jdbc.schema}.sea_thongtinchucdanh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ${jdbc.schema}.sea_thongtinchucdanh
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.chucdanhid != null">
        chucdanhId = #{record.chucdanhid,jdbcType=INTEGER},
      </if>
      <if test="record.thuyenvienid != null">
        thuyenvienId = #{record.thuyenvienid,jdbcType=INTEGER},
      </if>
      <if test="record.tungay != null">
        tungay = #{record.tungay,jdbcType=DATE},
      </if>
      <if test="record.denngay != null">
        denngay = #{record.denngay,jdbcType=DATE},
      </if>
      <if test="record.ghichu != null">
        ghichu = #{record.ghichu,jdbcType=VARCHAR},
      </if>
      <if test="record.ngaytao != null">
        ngaytao = #{record.ngaytao,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nguoitaoid != null">
        nguoitaoId = #{record.nguoitaoid,jdbcType=INTEGER},
      </if>
      <if test="record.ngaycapnhat != null">
        ngaycapnhat = #{record.ngaycapnhat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nguoicapnhatid != null">
        nguoicapnhatId = #{record.nguoicapnhatid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ${jdbc.schema}.sea_thongtinchucdanh
    set id = #{record.id,jdbcType=INTEGER},
      chucdanhId = #{record.chucdanhid,jdbcType=INTEGER},
      thuyenvienId = #{record.thuyenvienid,jdbcType=INTEGER},
      tungay = #{record.tungay,jdbcType=DATE},
      denngay = #{record.denngay,jdbcType=DATE},
      ghichu = #{record.ghichu,jdbcType=VARCHAR},
      ngaytao = #{record.ngaytao,jdbcType=TIMESTAMP},
      nguoitaoId = #{record.nguoitaoid,jdbcType=INTEGER},
      ngaycapnhat = #{record.ngaycapnhat,jdbcType=TIMESTAMP},
      nguoicapnhatId = #{record.nguoicapnhatid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.saigonbpo.dc.Model.SeaThongTinChucDanh">
    update ${jdbc.schema}.sea_thongtinchucdanh
    <set>
      <if test="chucdanhid != null">
        chucdanhId = #{chucdanhid,jdbcType=INTEGER},
      </if>
      <if test="thuyenvienid != null">
        thuyenvienId = #{thuyenvienid,jdbcType=INTEGER},
      </if>
      <if test="tungay != null">
        tungay = #{tungay,jdbcType=DATE},
      </if>
      <if test="denngay != null">
        denngay = #{denngay,jdbcType=DATE},
      </if>
      <if test="ghichu != null">
        ghichu = #{ghichu,jdbcType=VARCHAR},
      </if>
      <if test="ngaytao != null">
        ngaytao = #{ngaytao,jdbcType=TIMESTAMP},
      </if>
      <if test="nguoitaoid != null">
        nguoitaoId = #{nguoitaoid,jdbcType=INTEGER},
      </if>
      <if test="ngaycapnhat != null">
        ngaycapnhat = #{ngaycapnhat,jdbcType=TIMESTAMP},
      </if>
      <if test="nguoicapnhatid != null">
        nguoicapnhatId = #{nguoicapnhatid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.saigonbpo.dc.Model.SeaThongTinChucDanh">
    update ${jdbc.schema}.sea_thongtinchucdanh
    set chucdanhId = #{chucdanhid,jdbcType=INTEGER},
      thuyenvienId = #{thuyenvienid,jdbcType=INTEGER},
      tungay = #{tungay,jdbcType=DATE},
      denngay = #{denngay,jdbcType=DATE},
      ghichu = #{ghichu,jdbcType=VARCHAR},
      ngaytao = #{ngaytao,jdbcType=TIMESTAMP},
      nguoitaoId = #{nguoitaoid,jdbcType=INTEGER},
      ngaycapnhat = #{ngaycapnhat,jdbcType=TIMESTAMP},
      nguoicapnhatId = #{nguoicapnhatid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>