<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saigonbpo.dc.Mapper.ShipMapper">
  <resultMap id="BaseResultMap" type="com.saigonbpo.dc.Model.Ship">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ten" jdbcType="VARCHAR" property="ten" />
    <result column="IMO" jdbcType="VARCHAR" property="imo" />
    <result column="callsign" jdbcType="VARCHAR" property="callsign" />
    <result column="ghichu" jdbcType="VARCHAR" property="ghichu" />
    <result column="loaitauID" jdbcType="VARCHAR" property="loaitauid" />
    <result column="ngaytao" jdbcType="TIMESTAMP" property="ngaytao" />
    <result column="nguoitaoID" jdbcType="INTEGER" property="nguoitaoid" />
    <result column="ngaycapnhat" jdbcType="TIMESTAMP" property="ngaycapnhat" />
    <result column="nguoicapnhatID" jdbcType="INTEGER" property="nguoicapnhatid" />
    <result column="isActive" jdbcType="BIT" property="isactive" />
    <result column="trongtai" jdbcType="INTEGER" property="trongtai" />
    <result column="congsuatmay" jdbcType="INTEGER" property="congsuatmay" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ten, IMO, callsign, ghichu, loaitauID, ngaytao, nguoitaoID, ngaycapnhat, nguoicapnhatID, 
    isActive, trongtai, congsuatmay, alias
  </sql>
  <select id="selectByExample" parameterType="com.saigonbpo.dc.Model.ShipExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sea_quanlythuyenviendb.sea_tau
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sea_quanlythuyenviendb.sea_tau
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sea_quanlythuyenviendb.sea_tau
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.saigonbpo.dc.Model.ShipExample">
    delete from sea_quanlythuyenviendb.sea_tau
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.saigonbpo.dc.Model.Ship" useGeneratedKeys="true">
    insert into sea_quanlythuyenviendb.sea_tau (ten, IMO, callsign, 
      ghichu, loaitauID, ngaytao, 
      nguoitaoID, ngaycapnhat, nguoicapnhatID, 
      isActive, trongtai, congsuatmay, 
      alias)
    values (#{ten,jdbcType=VARCHAR}, #{imo,jdbcType=VARCHAR}, #{callsign,jdbcType=VARCHAR}, 
      #{ghichu,jdbcType=VARCHAR}, #{loaitauid,jdbcType=VARCHAR}, #{ngaytao,jdbcType=TIMESTAMP}, 
      #{nguoitaoid,jdbcType=INTEGER}, #{ngaycapnhat,jdbcType=TIMESTAMP}, #{nguoicapnhatid,jdbcType=INTEGER}, 
      #{isactive,jdbcType=BIT}, #{trongtai,jdbcType=INTEGER}, #{congsuatmay,jdbcType=INTEGER}, 
      #{alias,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.saigonbpo.dc.Model.Ship" useGeneratedKeys="true">
    insert into sea_quanlythuyenviendb.sea_tau
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ten != null">
        ten,
      </if>
      <if test="imo != null">
        IMO,
      </if>
      <if test="callsign != null">
        callsign,
      </if>
      <if test="ghichu != null">
        ghichu,
      </if>
      <if test="loaitauid != null">
        loaitauID,
      </if>
      <if test="ngaytao != null">
        ngaytao,
      </if>
      <if test="nguoitaoid != null">
        nguoitaoID,
      </if>
      <if test="ngaycapnhat != null">
        ngaycapnhat,
      </if>
      <if test="nguoicapnhatid != null">
        nguoicapnhatID,
      </if>
      <if test="isactive != null">
        isActive,
      </if>
      <if test="trongtai != null">
        trongtai,
      </if>
      <if test="congsuatmay != null">
        congsuatmay,
      </if>
      <if test="alias != null">
        alias,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ten != null">
        #{ten,jdbcType=VARCHAR},
      </if>
      <if test="imo != null">
        #{imo,jdbcType=VARCHAR},
      </if>
      <if test="callsign != null">
        #{callsign,jdbcType=VARCHAR},
      </if>
      <if test="ghichu != null">
        #{ghichu,jdbcType=VARCHAR},
      </if>
      <if test="loaitauid != null">
        #{loaitauid,jdbcType=VARCHAR},
      </if>
      <if test="ngaytao != null">
        #{ngaytao,jdbcType=TIMESTAMP},
      </if>
      <if test="nguoitaoid != null">
        #{nguoitaoid,jdbcType=INTEGER},
      </if>
      <if test="ngaycapnhat != null">
        #{ngaycapnhat,jdbcType=TIMESTAMP},
      </if>
      <if test="nguoicapnhatid != null">
        #{nguoicapnhatid,jdbcType=INTEGER},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=BIT},
      </if>
      <if test="trongtai != null">
        #{trongtai,jdbcType=INTEGER},
      </if>
      <if test="congsuatmay != null">
        #{congsuatmay,jdbcType=INTEGER},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.saigonbpo.dc.Model.ShipExample" resultType="java.lang.Long">
    select count(*) from sea_quanlythuyenviendb.sea_tau
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sea_quanlythuyenviendb.sea_tau
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ten != null">
        ten = #{record.ten,jdbcType=VARCHAR},
      </if>
      <if test="record.imo != null">
        IMO = #{record.imo,jdbcType=VARCHAR},
      </if>
      <if test="record.callsign != null">
        callsign = #{record.callsign,jdbcType=VARCHAR},
      </if>
      <if test="record.ghichu != null">
        ghichu = #{record.ghichu,jdbcType=VARCHAR},
      </if>
      <if test="record.loaitauid != null">
        loaitauID = #{record.loaitauid,jdbcType=VARCHAR},
      </if>
      <if test="record.ngaytao != null">
        ngaytao = #{record.ngaytao,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nguoitaoid != null">
        nguoitaoID = #{record.nguoitaoid,jdbcType=INTEGER},
      </if>
      <if test="record.ngaycapnhat != null">
        ngaycapnhat = #{record.ngaycapnhat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nguoicapnhatid != null">
        nguoicapnhatID = #{record.nguoicapnhatid,jdbcType=INTEGER},
      </if>
      <if test="record.isactive != null">
        isActive = #{record.isactive,jdbcType=BIT},
      </if>
      <if test="record.trongtai != null">
        trongtai = #{record.trongtai,jdbcType=INTEGER},
      </if>
      <if test="record.congsuatmay != null">
        congsuatmay = #{record.congsuatmay,jdbcType=INTEGER},
      </if>
      <if test="record.alias != null">
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sea_quanlythuyenviendb.sea_tau
    set id = #{record.id,jdbcType=INTEGER},
      ten = #{record.ten,jdbcType=VARCHAR},
      IMO = #{record.imo,jdbcType=VARCHAR},
      callsign = #{record.callsign,jdbcType=VARCHAR},
      ghichu = #{record.ghichu,jdbcType=VARCHAR},
      loaitauID = #{record.loaitauid,jdbcType=VARCHAR},
      ngaytao = #{record.ngaytao,jdbcType=TIMESTAMP},
      nguoitaoID = #{record.nguoitaoid,jdbcType=INTEGER},
      ngaycapnhat = #{record.ngaycapnhat,jdbcType=TIMESTAMP},
      nguoicapnhatID = #{record.nguoicapnhatid,jdbcType=INTEGER},
      isActive = #{record.isactive,jdbcType=BIT},
      trongtai = #{record.trongtai,jdbcType=INTEGER},
      congsuatmay = #{record.congsuatmay,jdbcType=INTEGER},
      alias = #{record.alias,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.saigonbpo.dc.Model.Ship">
    update sea_quanlythuyenviendb.sea_tau
    <set>
      <if test="ten != null">
        ten = #{ten,jdbcType=VARCHAR},
      </if>
      <if test="imo != null">
        IMO = #{imo,jdbcType=VARCHAR},
      </if>
      <if test="callsign != null">
        callsign = #{callsign,jdbcType=VARCHAR},
      </if>
      <if test="ghichu != null">
        ghichu = #{ghichu,jdbcType=VARCHAR},
      </if>
      <if test="loaitauid != null">
        loaitauID = #{loaitauid,jdbcType=VARCHAR},
      </if>
      <if test="ngaytao != null">
        ngaytao = #{ngaytao,jdbcType=TIMESTAMP},
      </if>
      <if test="nguoitaoid != null">
        nguoitaoID = #{nguoitaoid,jdbcType=INTEGER},
      </if>
      <if test="ngaycapnhat != null">
        ngaycapnhat = #{ngaycapnhat,jdbcType=TIMESTAMP},
      </if>
      <if test="nguoicapnhatid != null">
        nguoicapnhatID = #{nguoicapnhatid,jdbcType=INTEGER},
      </if>
      <if test="isactive != null">
        isActive = #{isactive,jdbcType=BIT},
      </if>
      <if test="trongtai != null">
        trongtai = #{trongtai,jdbcType=INTEGER},
      </if>
      <if test="congsuatmay != null">
        congsuatmay = #{congsuatmay,jdbcType=INTEGER},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.saigonbpo.dc.Model.Ship">
    update sea_quanlythuyenviendb.sea_tau
    set ten = #{ten,jdbcType=VARCHAR},
      IMO = #{imo,jdbcType=VARCHAR},
      callsign = #{callsign,jdbcType=VARCHAR},
      ghichu = #{ghichu,jdbcType=VARCHAR},
      loaitauID = #{loaitauid,jdbcType=VARCHAR},
      ngaytao = #{ngaytao,jdbcType=TIMESTAMP},
      nguoitaoID = #{nguoitaoid,jdbcType=INTEGER},
      ngaycapnhat = #{ngaycapnhat,jdbcType=TIMESTAMP},
      nguoicapnhatID = #{nguoicapnhatid,jdbcType=INTEGER},
      isActive = #{isactive,jdbcType=BIT},
      trongtai = #{trongtai,jdbcType=INTEGER},
      congsuatmay = #{congsuatmay,jdbcType=INTEGER},
      alias = #{alias,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>