
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Header</title>
</head>

<body>

<div class="sidebar" data-color="red" th:fragment="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <image th:src="@{/images/logo.png}" style="max-width: 70%;"></image>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
        	<!-- 
          <li th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active':''}" >
            <a href="#">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
           -->
          
          <li  th:classappend="${#httpServletRequest.getRequestURI() == '/ListOfBoat/1' ? 'active':''}" >
            <a th:href="@{/ListOfBoat/1}">
              <i class="now-ui-icons education_atom"></i>
              <p>Crew On Board</p>
            </a>
          </li>
          <li th:classappend="${#httpServletRequest.getRequestURI() == '/ListOfBoat/0' ? 'active':''}" >
            <a th:href="@{/ListOfBoat/0}">
              <i class="now-ui-icons travel_istanbul"></i>
              <p>Crew On Leave</p>
            </a>
          </li>
      
          <li th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(),'/assignment') == true ? 'active':''}">
            <a th:href="@{/assignment/0}" >
              <i class="now-ui-icons ui-1_settings-gear-63"></i>
              <p>Crew Assignment</p>
            </a>
          </li>
          
          <li th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(),'/crew') == true ? 'active':''}">
            <a th:href="@{/crew/0}" >
              <i class="now-ui-icons users_single-02"></i>
              <p>Make A New Crew</p>
            </a>
          </li>
          
          <li  th:classappend="${#httpServletRequest.getRequestURI() == '/ListOfBoat/-3' ? 'active':''}" >
            <a th:href="@{/ListOfBoat/-3}">
              <i class="now-ui-icons ui-1_simple-remove"></i>
              <p>Re-Signed</p>
            </a>
          </li>
          
          <!-- 
          <li th:classappend="${#httpServletRequest.getRequestURI() == '/ListOfBoat/-3' ? 'active':''}" >
            <a th:href="@{/ListOfBoat/-3}">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Re-Signed</p>
            </a>
          </li>
          <li>
            <a th:href="@{/CertificateNearExpire}">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Certificate Near Expire</p>
            </a>
          </li>
           -->
          
        </ul>
      </div>
    </div>

</body>

</html>
