body {
  background: #eeeeee;
  font-family: 'Varela Round', sans-serif;
}

.form-inline {
  display: inline-block;
}

.navbar-header.col {
  padding: 0 !important;
}

.navbar {
  color: #fff;
  background: #1064b3;
  padding: 5px 16px;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.navbar img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.navbar .navbar-brand {
  color: #efe5ff;
  padding-left: 0;
  padding-right: 50px;
  font-size: 24px;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #fff;
}

.navbar .navbar-brand i {
  font-size: 25px;
  margin-right: 5px;
}

.search-box {
  position: relative;
}

.search-box input {
  padding-right: 35px;
  min-height: 38px;
  border: none;
  background: #faf7fd;
  border-radius: 3px !important;
}

.search-box input:focus {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 10px 7px;
  height: 100%;
}

.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}

.navbar .nav-item i {
  font-size: 18px;
}

.navbar .nav-item span {
  position: relative;
  top: 3px;
}

.navbar .nav > li a {
  color: #efe5ff;
  padding: 8px 15px;
  font-size: 14px;
}

.navbar .nav > li a:hover, .navbar .nav > li a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

.navbar .nav > li > a > i {
  display: block;
  text-align: center;
}

.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}

.navbar .dropdown-item .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}

.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
  color: #fff;
  background: none !important;
}

.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .dropdown-menu li a {
  color: #777 !important;
  padding: 8px 20px;
  line-height: normal;
}

.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus {
  color: #333 !important;
  background: transparent !important;
}

.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  background: transparent !important;
}

.navbar .nav .user-action {
  padding: 9px 15px;
}

.navbar .navbar-toggle {
  border-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
  background: transparent;
}

.navbar .navbar-nav .open .dropdown-menu {
  background: #faf7fd;
  border-radius: 1px;
  border-color: #faf7fd;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .divider {
  background-color: #e9ecef !important;
}

@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 350px;
    margin-left: 30px;
  }
}

@media (max-width: 1199px) {
  .navbar .nav > li > a > i {
    display: inline-block;
    text-align: left;
    min-width: 30px;
    position: relative;
    top: 4px;
  }
  .navbar .navbar-collapse {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
  .navbar .navbar-form {
    border: none;
    display: block;
    margin: 10px 0;
    padding: 0;
  }
  .navbar .navbar-nav {
    margin: 8px 0;
  }
  .navbar .navbar-toggle {
    margin-right: 0;
  }
  .input-group {
    width: 100%;
  }
}

.form-style-9 {
  background: #FAFAFA;
  padding: 30px;
  /*margin: 50px auto;*/
  -webkit-box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 3px solid #305A72;
}

.form-style-9 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-style-9 ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}

.form-style-9 ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #B0CFE0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.form-style-9 ul li .field-style:focus {
  -webkit-box-shadow: 0 0 5px #B0CFE0;
          box-shadow: 0 0 5px #B0CFE0;
  border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
  width: 49%;
}

.form-style-9 ul li .field-full {
  width: 100%;
}

.form-style-9 ul li input.align-left {
  float: left;
}

.form-style-9 ul li input.align-right {
  float: right;
}

.form-style-9 ul li textarea {
  width: 100%;
  height: 100px;
}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
  box-shadow: inset 0px 1px 0px 0px #3985B1;
  background-color: #216288;
  border: 1px solid #17445E;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
}

.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2D77A2), to(#337DA8));
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
  background-color: #28739E;
}

.form-wrapper {
  max-width: 30%;
  min-width: 300px;
  padding: 50px 30px 50px 30px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.form-group {
  position: relative;
}

.form-group + .form-group {
  margin-top: 30px;
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #acacacda;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  font-size: 0.95em;
  color: black;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  -webkit-box-shadow: 0 1px 0 0 #e5e5e5;
          box-shadow: 0 1px 0 0 #e5e5e5;
  -webkit-transition: -webkit-box-shadow 150ms ease-out;
  transition: -webkit-box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out, -webkit-box-shadow 150ms ease-out;
}

.form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #1064b3;
          box-shadow: 0 2px 0 0 #1064b3;
}

.form-input.filled {
  -webkit-box-shadow: #1064b3;
          box-shadow: #1064b3;
}

table > thead > tr {
  background-color: #1064b3;
  color: white;
}
